{% extends "::base.html.twig" %}

{% block title %}AstroBotBundle:Zodiac:GetDailyHoroscope{% endblock %}

{% block body %}
<h1>Welcome to the Zodiac:GetDailyHoroscope page</h1>

Sign: {{sign}}<br>
Date: {{date}}<br>
{% endblock %}
